<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>蒙哥马利</string>
		<key>information</key>
		<string>伯纳德·劳·蒙哥马利出生在伦敦肯宁敦区圣马克教区的一个牧师家庭。1901年，14岁时才正式上学，文化成绩低劣，但体育成绩极棒。1907年，奇迹般地考入了桑德赫斯特皇家军事学院。1908年12月毕业后，加入了驻印度的皇家沃里克郡团，当一名少尉排长。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乔治·巴顿</string>
		<key>information</key>
		<string>巴顿于1885年出生在一个历史悠久的军人家庭中，他先进入维吉尼亚军事学校学习，之后入读西点军校。他参加了1912年夏季奥林匹克运动会现代五项的比赛，并为M1913型军刀的设计者。巴顿在潘乔维拉远征期间首次参与战斗，这也是最早的机械化作战实例之一。之后他加入了美国远征军新成立的坦克军团并参加第一次世界大战。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李鸿章</string>
		<key>information</key>
		<string>李鸿章（1823年2月15日—1901年11月7日），晚清名臣，洋务运动的主要领导人之一，安徽合肥人，世人多尊称李中堂，亦称李合肥，本名章铜，字渐甫或子黻，号少荃（泉），晚年自号仪叟，别号省心，谥文忠。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>曾国藩</string>
		<key>information</key>
		<string>曾国藩（1811年11月26日－1872年3月12日），汉族，初名子城，字伯涵，号涤生，宗圣曾子七十世孙。中国近代政治家、战略家、理学家、文学家，湘军的创立者和统帅。与胡林翼并称曾胡，与李鸿章、左宗棠、张之洞并称“晚清四大名臣”。官至两江总督、直隶总督、武英殿大学士，封一等毅勇侯，谥曰文正。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>左宗棠</string>
		<key>information</key>
		<string>左宗棠（1812年11月10日—1885年9月5日），汉族，字季高，一字朴存，号湘上农人。晚清重臣，军事家、政治家、著名湘军将领，洋务派首领。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>胡林翼</string>
		<key>information</key>
		<string>胡林翼（公元1812年7月14日－公元1861年9月30日），字贶生，号润芝，晚清中兴名臣之一，湘军重要首领，汉族，湖南益阳县泉交河人。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>罗伯特·爱德华·李</string>
		<key>information</key>
		<string>罗伯特·爱德华·李（Robert Edward Lee，1807年1月19日—1870年10月12日），美国军事家，出生于弗吉尼亚。他在美墨战争中表现卓越，并在1859年镇压了约翰·布朗的武装起义。在美国南北战争中，他是美国南方联盟的总司令。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>格兰特</string>
		<key>information</key>
		<string>尤里西斯·辛普森·格兰特（Ulysses Simpson Grant，1822年4月27日－1885年7月23日），美国军事家、陆军上将、第18任美国总统，他是美国历史上第一位从西点军校毕业的总统。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>隆美尔</string>
		<key>information</key>
		<string>埃尔温·约翰尼斯·尤根·隆美尔（德语：Erwin Rommel），纳粹德国的陆军元帅，著名的军事家、战术家、理论家，绰号“沙漠之狐、帝国之鹰”。隆美尔与曼施坦因和古德里安，被后人并称为第二次世界大战期间，纳粹德国的三大名将 。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>图哈切夫斯基</string>
		<key>information</key>
		<string>，1893年生于斯摩棱斯克省多罗戈布日县亚历山德罗夫斯科耶庄园，俄国旧贵族出身，苏俄内战期间受列宁赏识，成为最能干的集团军司令之一。但1920年作为西方方面军司令指挥华沙战役的失败暴露了他冒险主义和经验不足的缺点。战后大力推行红军现代化建设，推崇大纵深战略。在苏共大清洗中，被以间谍罪判处死刑并立即枪决。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>武元甲</string>
		<key>information</key>
		<string>，是越南共产党、越南民主共和国、越南社会主义共和国和越南人民军的主要缔造者和领导人之一。越南人民军大将，曾任越共中央政治局委员、中央军事委员会书记、越南政府副总理、越南国防部部长等职。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南云忠一</string>
		<key>information</key>
		<string>日本海军大将（死后追晋）。日本发动太平洋战争时的联合舰队第一航空舰队司令长官，率领舰队参与偷袭珍珠港及中途岛海战而闻名于世。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>曼施泰因</string>
		<key>information</key>
		<string>弗里茨·埃里希·冯·曼施泰因（德语：Erich von Manstein，1887年11月24日—1973年6月10日），是一名终身从军的职业军人，他在第二次世界大战中脱颖而出，成为纳粹德国德意志国防军中最负盛名的指挥官之一。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>古德里安</string>
		<key>information</key>
		<string>海因茨·威廉·古德里安（Heinz Wilhelm Guderian,1888.6.17～1954.5.15），德国“陆军大将”，军事家、理论家、战术家，是“闪击战”的创始人，也是“装甲战”、“坦克战”的倡导者，被称为“德军装甲兵之父”。</string>
	</dict>
</array>
</plist>
